<div class="uk-grid-collapse  uk-child-width-1-1 uk-animation-scale-down" data-uk-grid>
    <div class="uk-background-cover uk-width-2-5@m  yb-full-height " data-uk-img
        data-src="../../assets/img/project_pics/siteinsat.PNG" style="background-size: contain;"> </div>
    <div class="uk-padding-large  uk-width-expand@m yb-full-height yb-full-height-fixed yb-work-content">
        <p><span class="yb-label uk-label uk-border-rounded">Completed</span></p> <a style="text-decoration: none; color: black;" href="/">  <span class="uk-float-right" data-uk-icon="icon:arrow-left; ratio:1.5"></span> </a>
        <h1 class="yb-section-title">INSAT Website</h1> <a style="text-decoration: none; color: black;" href="https://github.com/OnsElleuch/siteInsat">  <span class="uk-float-right" data-uk-icon="icon:github; ratio:1.5"></span> </a>
        <h5>Web Development, 09/2020-12/2020</h5> 
        <hr>
        <p>This Project is a web application for INSAT university. It has all the needed information about INSAT and a
            student portal.</p>
        <div data-uk-grid>
            <div>
                <img src="../../assets/img/project_pics/site_insat2.PNG" class="uk-border-rounded" alt="">
            </div>

        </div>
        <div data-uk-grid>

            <div>
                <img src="../../assets/img/project_pics/site_insat3.PNG" class="uk-border-rounded" alt="">
            </div>
        </div>
        <br>
        <p>
            There's also a back-office dashboard where the university administration can log in and manage the news on
            the website, update the professors and students databases ...
        </p>
        <h4 class="yb-section-title uk-heading-line"><span>In this project I had the chance to:</span></h4>
        <div class="yb-testi-item">
            <div class="yb-testi-item-desc">
                <ul>
                    <span class="uk-float-left uk-text-muted" data-uk-icon="check"></span> Prepare UML diagrams for the
                    project. <br>
                    <span class="uk-float-left uk-text-muted" data-uk-icon="check"></span> Implement the main features
                    of the website. <br>
                    <span class="uk-float-left uk-text-muted" data-uk-icon="check"></span> Implement the backend of the
                    website. <br>
                </ul>
                <div style="justify-content: space-evenly;">
                    <span class="yb-label uk-label uk-border-rounded"
                        style="border-radius: 10px; margin-left: 15px;">Angular</span>
                    <span class="yb-label uk-label uk-border-rounded"
                        style="border-radius: 10px; margin-left: 15px;">NestJs</span>
                    <span class="yb-label uk-label uk-border-rounded"
                        style="border-radius: 10px; margin-left: 15px;">HTML/CSS</span>
                    <span class="yb-label uk-label uk-border-rounded"
                        style="border-radius: 10px; margin-left: 15px;">Git</span>
                </div>
            </div>


        </div>
    </div>
</div>