<div class="uk-grid-collapse  uk-child-width-1-1 uk-animation-scale-down" data-uk-grid>
    <div class="uk-background-cover uk-width-2-5@m  yb-full-height " data-uk-img
        data-src="../../assets/img/project_pics/pentbox1.jpg" style="background-size: contain;"> </div>
    <div class="uk-padding-large  uk-width-expand@m yb-full-height yb-full-height-fixed yb-work-content">
        <p><span class="yb-label uk-label uk-border-rounded">Completed</span></p> <a style="text-decoration: none; color: black;" href="/">  <span class="uk-float-right" data-uk-icon="icon:arrow-left; ratio:1.5"></span> </a>
        <h1 class="yb-section-title">Pentbox-Python</h1> <a style="text-decoration: none; color: black;" href="https://github.com/OnsElleuch/pentbox-python-GL4">  <span class="uk-float-right" data-uk-icon="icon:github; ratio:1.5"></span> </a>
        <h5>Cryptology, 09/2020-12/2020</h5> 
        <hr>
        <p>Pentbox Python is a cryptography tool that allows encoding, decoding, hashing, cracking hashes and asymmetric and symmetric encryption/decryption.</p>
        <div data-uk-grid>
            <div>
                <img src="../../assets/img/project_pics/pentbox1.jpg" class="uk-border-rounded" alt="">
            </div>

        </div>
        
        
    </div>
</div>