<div class="uk-grid-collapse  uk-child-width-1-1 uk-animation-scale-down" data-uk-grid>
    <div class="uk-background-cover uk-width-2-5@m  yb-full-height " data-uk-img
        data-src="../../assets/img/project_pics/part4.PNG" style="background-size: contain;"> </div>
    <div class="uk-padding-large  uk-width-expand@m yb-full-height yb-full-height-fixed yb-work-content">
        <p><span class="yb-label uk-label uk-border-rounded">Completed</span></p> <a style="text-decoration: none; color: black;" href="/">  <span class="uk-float-right" data-uk-icon="icon:arrow-left; ratio:1.5"></span> </a>
        <h1 class="yb-section-title">Logis Description Generator</h1> 
        <h5>Web Development, NLP, 06/2021-08/2021</h5>
        <hr>
        <p>This Project is a web application for real estate description automatic generation.</p>
        <div data-uk-grid>
            <div>
                <img src="../../assets/img/project_pics/part2.PNG" class="uk-border-rounded" alt="">
            </div>

        </div>
        <div data-uk-grid>

            <div>
                <img src="../../assets/img/project_pics/part3.PNG" class="uk-border-rounded" alt="">
            </div>
        </div>
        <br>
        <p>
            The project was during my summer internship 2021 in Logis. It's an R&D project where I got acquinted to the state-of-the-art models for text generation. 
            I worked with OpenAi GPT-3, Google-T5, GPT-Neo ...
        </p>
        <h4 class="yb-section-title uk-heading-line"><span>In this project I had the chance to:</span></h4>
        <div class="yb-testi-item">
            <div class="yb-testi-item-desc">
                <ul>
                     
 
                    <span class="uk-float-left uk-text-muted" data-uk-icon="check"></span> Scrape data from Dubaian, Tunisian and French real estate websites using Python. <br>
                    <span class="uk-float-left uk-text-muted" data-uk-icon="check"></span> Process data and feature engineering. <br>
                    <span class="uk-float-left uk-text-muted" data-uk-icon="check"></span> Implement a template-based bot that generates real estate property descriptions using Laravel and Angular. <br>
                    <span class="uk-float-left uk-text-muted" data-uk-icon="check"></span> Train a model to generate descriptions based on keywords.<br>
                    <span class="uk-float-left uk-text-muted" data-uk-icon="check"></span> First experience with AWS sagemaker.<br>
                    <span class="uk-float-left uk-text-muted" data-uk-icon="check"></span> Deploy the module on Heroku.<br>
                </ul>
                <div style="justify-content: space-evenly;">
                    <span class="yb-label uk-label uk-border-rounded"
                        style="border-radius: 10px; margin-left: 15px;">Angular</span>
                    <span class="yb-label uk-label uk-border-rounded"
                        style="border-radius: 10px; margin-left: 15px;">Laravel</span>
                    <span class="yb-label uk-label uk-border-rounded"
                        style="border-radius: 10px; margin-left: 15px;">NLP</span>
                    <span class="yb-label uk-label uk-border-rounded"
                        style="border-radius: 10px; margin-left: 15px;">Git</span>
                    <span class="yb-label uk-label uk-border-rounded"
                        style="border-radius: 10px; margin-left: 15px;">Transformers</span>
                        <span class="yb-label uk-label uk-border-rounded"
                        style="border-radius: 10px; margin-left: 15px;">AWS</span>
                </div>
            </div>


        </div>
    </div>
</div>