<div class="uk-grid-collapse  uk-child-width-1-1 uk-animation-scale-down" data-uk-grid>
    <div class="uk-background-cover uk-width-2-5@m  yb-full-height " data-uk-img
        data-src="../../assets/img/project_pics/portfolio3.PNG" style="background-size: contain;"> </div>
    <div class="uk-padding-large  uk-width-expand@m yb-full-height yb-full-height-fixed yb-work-content">
        <p><span class="yb-label uk-label uk-border-rounded">In Progress</span></p> <a style="text-decoration: none; color: black;" href="/">  <span class="uk-float-right" data-uk-icon="icon:arrow-left; ratio:1.5"></span> </a>
        <h1 class="yb-section-title">Personal Portfolio</h1> <a style="text-decoration: none; color: black;" href="https://github.com/OnsElleuch/portfolio-ons">  <span class="uk-float-right" data-uk-icon="icon:github; ratio:1.5"></span> </a>
        <h5>Web Development</h5>
        <hr>
        <p>We all know the value and the importance of building a Portfolio, and that's why I took a step forward into showcasing my projects and career through this portfolio.</p>
        <div data-uk-grid>
            <div>
                <img src="../../assets/img/project_pics/portfolio2.PNG" class="uk-border-rounded" alt="">
            </div>

        </div>
        
        <br>
       
    </div>
</div>